@import url("./variables.css");
@import url("./font.css");

/* Default styles  */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

*::selection {
  background-color: var(--light-red);
  color: var(--dark-bg);
}

a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
  /* display: block !important; */
}

i {
  user-select: none;
}

/* Finnish defaul styles  */

/* -------------------------- Start Main Styles ------------------------------- */
.dropshadow {
  width: 10rem;
  height: 10rem;
  background-color: #374d68;
  /* box-shadow: 0 1rem 70rem 7rem #374d68; */

  filter: blur(70px);
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
.dropshadow4 {
  width: 20rem;
  height: 20rem;
  transform: rotate(40deg);
  background-color: #172c3560;
  /* box-shadow: 0 1rem 70rem 7rem #2a1e41; */

  filter: blur(70px);
  position: absolute;
  top: 0;
  right: 30%;
}
.dropshadow3 {
  width: 20rem;
  height: 20rem;
  transform: rotate(-40deg);
  background-color: #22173560;
  /* box-shadow: 0 1rem 70rem 7rem #2a1e41; */

  filter: blur(70px);
  position: absolute;
  bottom: 0;
  right: 50%;
}
.dropshadow2 {
  width: 10rem;
  height: 10rem;
  background-color: #2a1e41;
  /* box-shadow: 0 1rem 70rem 7rem #2a1e41; */

  filter: blur(70px);
  position: absolute;
  bottom: 0;
  right: 0;
}
.app {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: var(--main-color);
  z-index: 9999;
}
.app-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.app-navbar__leftBox {
  display: flex;
  align-items: center;
}
.app-navbar__lefttbox-icon {
  width: 3rem;
  color: var(--light-color);
}
.app-navbar__leftBox-text {
  color: var(--text-color);
  margin: auto 0.6rem;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial;
}
.Bold-C {
  font-size: 3.1rem;
  color: var(--light-color);
}
.Bold-O {
  font-size: 3.1rem;
  color: var(--light-color);
}
.app-navbar__rightbox {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.app-navbar__rightbox-searchBox {
  width: 30rem;
  position: relative;
  background-color: var(--dark-bg);
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin: auto 1rem;
}
.app-navbar__rightbox-searchBox--input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  padding-inline-end: 4rem;
}
.app-navbar__rightbox-searchBox--icon {
  position: absolute;
  right: 1rem;
  color: var(--text-color);
  top: 1rem;
  width: 2rem;
}
.notifcationBoxWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 1rem;
}
.notifcationBoxWrapper-counBox {
  position: absolute;
  top: -0.1rem;
  right: 1rem;
  background-color: var(--light-red);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
.notifcationBoxWrapper-icon {
  width: 3rem;
  color: var(--text-color);
}
.notifcationBoxWrapper-counBox__text {
  margin: auto;
  font-size: 1.1rem;
}
.navbar-link-icon:hover {
  color: var(--text-color);
}
.user-profileImage {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 100%;
  margin: auto 1rem;
  position: relative;
  border: 1px solid var(--light-color);
  padding: 0.15rem;
}
.seetingBoxWrapper {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  color: var(--text-color);
  font-weight: 900;
  border-radius: 0.6rem;
}
.active-opensetting {
  background-color: var(--light-color);
  color: var(--text-color);
}
.seetingBoxWrapper__icon {
  width: 3rem;
}
/* -------------------------- end TopBar Styles ------------------------------- */
.devider {
  width: 100% !important;
  height: 0.1rem !important;
  background-color: var(--chat2) !important;
}
.vertical-devider {
  width: 0.1rem;
  height: 100%;
  background-color: var(--chat2) !important;
}

::-webkit-scrollbar {
  display: none;
}

.Main-content {
  width: 100%;
  display: flex;
}
.Main-content__chats {
  width: 25%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
}
.Main-content__chats-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.Main-content__chats-title-leftText {
  margin: auto 0.5rem;
  color: var(--text-color);
  font-size: 1.9rem;
  font-weight: 900;
}
.Main-content__chats-chatList {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  padding-bottom: 2rem;
}
.Main-content__chats-chatList-box {
  width: 100%;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  position: relative;
}
.Main-content__chats-chatList-box--active {
  background: linear-gradient(90deg, #22183475, #2a1e4173, transparent);
}
.Main-content__chats-chatList-box-userProfile {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.chat_userInfoBox {
  display: flex;
  flex-direction: column;
  margin: auto 1rem;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
  margin-top: 1rem;
}
.chat_userInfoBox-title {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 700;
  font-family: sans-serif;

  margin: 0;
}
.mt2 {
  margin-top: 0.8rem;
}
.chat_userInfoBox-subtitle {
  font-size: 1.2rem;
  color: var(--text-color);
  opacity: 0.7;
  margin: 0;
  max-width: 90%;
  font-family: sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.chat_userInfoBox-date {
  position: absolute;
  color: var(--text-color);
  font-size: 1rem;
  opacity: 0.5;
  right: 0.5rem;
  bottom: 0.5rem;
  font-family: sans-serif;
}
.msgcount {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: var(--light-color);
  color: var(--text-color);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.msgcount-text {
  margin: auto;
}

/* chat box */

.Main-content__chat-box {
  position: relative;
  width: 45%;
  height: 91vh;
}

.msg-container {
  width: 100%;
  height: 75%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-bottom: 3rem;
}

.chat-box-header {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  border-bottom: 1px solid var(--main-color-light);
  margin-bottom: 10px;
}

.chat-box-member-profile {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0.5rem #442d71;
}

.chat-box-member-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-box-member-username {
  color: var(--text-color);
  opacity: 0.7;
}

.chat-box-member-status {
  color: var(--light-color);
  font-weight: 700;
}

.chat-box-date {
  width: 100%;
  text-align: center;
  color: var(--text-color);
  opacity: 0.5;
}

.msg {
  width: max-content;
  max-width: 80%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  color: #ffffffd0;
}

.chat-box-receipt-msg {
  background-color: var(--dark-bg);
}
.chat-box-send-msg {
  background-color: var(--light-color);
}

.chat-box-row-msg {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.chat-box-receipt-row-msg {
  justify-content: flex-end;
}

.input-box {
  position: absolute;
  bottom: 0px;
  width: 100% !important;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  padding-bottom: 35px;
  background-color: var(--main-color);
}

.link-icon,
.send-icon {
  width: 30px;
}

.link-icon {
  transform: rotate(-45deg);
  color: var(--text-color);
  opacity: 0.5;
  width: 25px;
}

.send-icon {
  color: var(--light-color);
}

.chat-input {
  all: unset;
  width: 70%;
  padding: 10px 20px;
  border: 1px solid var(--main-color-light);
  border-radius: 20px;
  caret-color: var(--light-color);
  color: #ffffff96;
}

/* right box */
.right-box {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999999999;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.555);
}
.modal-wrapper--active {
  display: flex;
}
.modal-box {
  background-color: var(--dark-bg);
  padding: 1rem 3rem;
  /* border-radius: 1rem; */
  display: none;
  flex-direction: column;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.modal-box--active {
  display: flex;
}
.modal-box__title {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 700;
}
.modal-box__btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--light-color);
  color: var(--text-color);
}
.modal-box__input {
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: var(--text-color);
}
.copyrighttext {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  font-size: 1.1rem;
  color: var(--light-color);
  text-align: center;
  z-index: 99999999999999999999999999999999999999999999999;
}

.edit-profile {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 20px;
  color: var(--light-color);
}

.user-profile {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.user-profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--light-color);
}

.user-name {
  width: 100%;
  text-align: center;
}

.user-name-text {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 700;
}

.user-bio {
  padding: 20px;
}

.user-bio-text {
  color: var(--text-color);
  opacity: 0.7;
}

.user-selected {
  color: var(--light-color);
  font-weight: 900;
}

.user-email {
  width: 100%;
  padding: 20px;
}

.user-email-text {
  color: var(--text-color);
  opacity: 0.7;
}

.user-id {
  padding: 20px;
  color: var(--text-color);
  opacity: 0.7;
}
.right-box__clientInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -9;
  transition: all 0.4s;
}

.setting-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -9;
  transition: all 0.4s;
}
.profileBanner {
  width: 100%;
  height: 20rem;
  position: relative;
  overflow: hidden;
}
.profileBanner:hover .profileBanner-img {
  filter: blur(10px);
}

.profileBanner:hover::after {
  bottom: -10rem;
}

.profileBanner::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.6s;
  height: 6rem;
  z-index: 9;
  background: linear-gradient(360deg, var(--main-color), transparent);
}
.profileBanner-img {
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-clientBox {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.bioGraphyWrapperAndName {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}
.bioGraphyWrapperAndName-Name {
  font-size: 2rem;
  margin: 0;
  font-weight: 900;
  color: var(--text-color);
}
.bioGraphyWrapperAndName__bioWrapper {
  transition: all 0.4s ease;
}
.bioGraphyWrapperAndName__bioWrapper-text {
  font-size: 1.5rem;
  color: var(--text-color);
  opacity: 0.6;
}
.logoutWrapperbox {
  position: absolute;
  top: 0.7rem;
  left: 0.3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--light-red);
  align-items: center;
  border-radius: 100%;
  color: white;
  z-index: 99999999999;
}
.logoutWrapperbox-icon {
  width: 2rem;
}
.usernameWrapper {
  display: flex;
  align-items: center;
}
.usernameWrapper-iocn {
  width: 3rem;
  color: var(--light-color);
  margin: auto 0.7rem;
}
.isOnlineWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: -2rem;
  left: 0;
  z-index: 999;
}
.isOnlineWrapper-text {
  color: #d3d3d3;
  font-size: 1.8rem;
  position: relative;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: max-content;
  display: inline;
}
.isOnlineWrapper-text::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: -1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  animation: shadow 0.8s infinite;
  background-color: rgb(83, 211, 83);
  transition: all 400ms;
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 0.1rem rgb(44, 240, 44);
  }
  100% {
    box-shadow: 0 0 1rem green;
  }
}
.edituserName-wrapper {
  position: absolute;
  bottom: 0;
  width: 0rem;

  height: 4rem;
  z-index: 999;
}
.modal-wrapper--acitve {
  display: flex;
}
.edituserName-wrapper__content {
  width: 0;
  display: flex;
  position: relative;
  height: 100%;
  background-color: var(--dark-bg);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 400ms;
  bottom: 2rem;
}
.close-setting {
  position: absolute;
  top: 0.5rem;
  z-index: 9999999999999999;
  right: 0.5rem;
}
.close-setting__icon {
  width: 3rem;
  background-color: #2a1e4156;
  border-radius: 0.6rem;
  color: var(--light-color);
}

.edituserName-wrapper-input {
  width: 100%;
  color: var(--text-color);
  outline: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.3rem;
  font-family: sans-serif;
  padding-inline-end: 3rem;
}
.edituserName-wrapper-icon {
  width: 2rem;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}
.edituserName-wrapper__content--active {
  width: 21rem;
  z-index: 999999;
}
.setting-box__information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-top: 5rem;
}
.biography-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-right: 15px;
  flex-direction: row-reverse;
}
.biography-content__icon {
  width: 28px;
  margin-right: 5px;
  cursor: pointer;
  color: var(--light-color);
}
.biography-content__text {
  margin: auto 1rem;
  color: var(--text-color);
  opacity: 0.5;
  font-size: 1.3rem;
  word-wrap: break-word;
}
.idwrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
}
.idwrapperTitle {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: bold;
  margin: 0;
}
.idwrappersubTitle {
  font-size: 1.2rem;
  color: var(--text-color);
  opacity: 0.5;
  margin: 0;
}
.id-icon {
  position: absolute;
  right: 1rem;
}

.close-setting,
.edituserName-wrapper-icon,
.logoutWrapperbox-icon,
.usernameWrapper-iocn,
.edit-icon {
  cursor: pointer;
}

.biography-content__icon {
  font-size: 1rem !important;
}

.edit-icon {
  width: 20px !important;
  margin-right: 10px;
}

.setting-devider {
  margin-bottom: 20px !important;
  width: 100% !important;
  height: 2px !important;
  background-color: var(--main-color-light) !important;
}
