@import url("./variables.css");
@import url("./font.css");
@import url("./top-bar.css");
/* Default styles  */
:root {
  --main-color: #110f18;
  --main-color-light: #221834;
  --chat1: #221834;
  --chat2: #221834;
  --text-color: #ffffff;
  --dark-bg: #1d1626;
  --light-color: #7a4bd8;
  --light-blue: #48a2f4;
  --light-red: #e76060;
  scrollbar-color: transparent !important;
  scrollbar-width: thin !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

*::selection {
  background-color: var(--light-red);
  color: var(--dark-bg);
}

a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
  /* display: block !important; */
}

i {
  user-select: none;
}

/* Finnish defaul styles  */

/* -------------------------- Start Main Styles ------------------------------- */
.dropshadow {
  width: 10rem;
  height: 10rem;
  background-color: #374d68;
  /* box-shadow: 0 1rem 70rem 7rem #374d68; */

  filter: blur(70px);
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
.dropshadow4 {
  width: 20rem;
  height: 20rem;
  transform: rotate(40deg);
  background-color: #172c3560;
  /* box-shadow: 0 1rem 70rem 7rem #2a1e41; */

  filter: blur(70px);
  position: absolute;
  top: 0;
  right: 30%;
}
.dropshadow3 {
  width: 20rem;
  height: 20rem;
  transform: rotate(-40deg);
  background-color: #22173560;
  /* box-shadow: 0 1rem 70rem 7rem #2a1e41; */

  filter: blur(70px);
  position: absolute;
  bottom: 0;
  right: 50%;
}
.dropshadow2 {
  width: 10rem;
  height: 10rem;
  background-color: #2a1e41;
  /* box-shadow: 0 1rem 70rem 7rem #2a1e41; */

  filter: blur(70px);
  position: absolute;
  bottom: 0;
  right: 0;
}
.app {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: var(--main-color);
  z-index: 9999;
}
.app-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.app-navbar__leftBox {
  display: flex;
  align-items: center;
}
.app-navbar__lefttbox-icon {
  width: 3rem;
  color: var(--light-color);
}
.app-navbar__leftBox-text {
  color: var(--text-color);
  margin: auto 0.6rem;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial;
}
.Bold-C {
  font-size: 3.1rem;
  color: var(--light-color);
}
.Bold-O {
  font-size: 3.1rem;
  color: var(--light-color);
}
.app-navbar__rightbox {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.app-navbar__rightbox-searchBox {
  width: 30rem;
  position: relative;
  background-color: var(--dark-bg);
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin: auto 1rem;
}
.app-navbar__rightbox-searchBox--input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  padding-inline-end: 4rem;
}
.app-navbar__rightbox-searchBox--icon {
  position: absolute;
  right: 1rem;
  color: var(--text-color);
  top: 1rem;
  width: 2rem;
}
.notifcationBoxWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 1rem;
}
.notifcationBoxWrapper-counBox {
  position: absolute;
  top: -0.1rem;
  right: 1rem;
  background-color: var(--light-red);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
.notifcationBoxWrapper-icon {
  width: 3rem;
  color: var(--text-color);
}
.notifcationBoxWrapper-counBox__text {
  margin: auto;
  font-size: 1.1rem;
}
.navbar-link-icon:hover {
  color: var(--text-color);
}
.user-profileImage {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 100%;
  margin: auto 1rem;
  position: relative;
  border: 1px solid var(--light-color);
  padding: 0.15rem;
}
.seetingBoxWrapper {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  color: var(--text-color);
  font-weight: 900;
  border-radius: 0.6rem;
}
.seetingBoxWrapper__icon {
  width: 3rem;
}
/* -------------------------- end TopBar Styles ------------------------------- */
.devider {
  width: 100% !important;
  height: 0.1rem !important;
  background-color: var(--chat2) !important;
}
.vertical-devider {
  width: 0.1rem;
  height: 100%;
  background-color: var(--chat2) !important;
}

::-webkit-scrollbar {
  display: none;
}

.Main-content {
  width: 100%;
  display: flex;
}
.Main-content__chats {
  width: 25%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
}
.Main-content__chats-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.Main-content__chats-title-leftText {
  margin: auto 0.5rem;
  color: var(--text-color);
  font-size: 1.9rem;
  font-weight: 900;
}
.Main-content__chats-chatList {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.Main-content__chats-chatList-box {
  width: 100%;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  position: relative;
}
.Main-content__chats-chatList-box--active {
  background: linear-gradient(90deg, #22183475, #2a1e4173, transparent);
}
.Main-content__chats-chatList-box-userProfile {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.chat_userInfoBox {
  display: flex;
  flex-direction: column;
  margin: auto 1rem;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
  margin-top: 1rem;
}
.chat_userInfoBox-title {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 700;
  font-family: sans-serif;

  margin: 0;
}
.mt2 {
  margin-top: 0.8rem;
}
.chat_userInfoBox-subtitle {
  font-size: 1.2rem;
  color: var(--text-color);
  opacity: 0.7;
  margin: 0;
  font-family: sans-serif;
}
.chat_userInfoBox-date {
  position: absolute;
  color: var(--text-color);
  font-size: 1rem;
  opacity: 0.5;
  right: 0.5rem;
  bottom: 0.5rem;
  font-family: sans-serif;
}
.msgcount {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: var(--light-color);
  color: var(--text-color);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.msgcount-text {
  margin: auto;
}

/* chat box */

.Main-content__chat-box {
  position: relative;
  width: 45%;
  height: 91vh;
  border-right: 1px solid var(--main-color-light);
}

.msg-container {
  width: 100%;
  height: 87%;
  overflow: scroll;
}

.chat-box-alert {
  width: 100%;
  margin: 20px 0;
  padding: 20px 30px;
  background: rgb(29, 22, 38);
  background: linear-gradient(
    90deg,
    rgba(29, 22, 38, 1) 0%,
    rgba(29, 22, 38, 1) 80%,
    rgba(29, 22, 38, 0) 100%
  );
}

.chat-box-alert-title {
  color: var(--light-blue);
  font-weight: 700;
}

.chat-box-alert-text {
  color: var(--text-color);
  opacity: 0.8;
}

.chat-box-date {
  width: 100%;
  text-align: center;
  color: var(--text-color);
  opacity: 0.5;
}

.msg {
  width: max-content;
  max-width: 80%;
  margin: 10px 0;
  padding: 10px;
  padding-bottom: 3px;
  border-radius: 10px;
  color: #ffffffd0;
}

.chat-box-receipt-msg {
  margin-left: 20px;
  background-color: var(--dark-bg);
}
.chat-box-send-msg {
  margin-right: 20px;
  margin-left: auto;
  background-color: var(--light-color);
}

.input-box {
  position: absolute;
  bottom: 50px;
  width: 100% !important;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.link-icon,
.send-icon {
  width: 30px;
}

.link-icon {
  transform: rotate(-45deg);
  color: var(--text-color);
  opacity: 0.5;
  width: 25px;
}

.send-icon {
  color: var(--light-color);
}

.chat-input {
  all: unset;
  width: 70%;
  padding: 10px 20px;
  border: 1px solid var(--main-color-light);
  border-radius: 20px;
  caret-color: var(--light-color);
  color: #ffffff96;
}

/* right box */

.right-box {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.right-box-header {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #ffffff5b;
}

.right-box-header-link {
  width: 50%;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: border-bottom color 0.2s;
}

.right-box-header-link.active {
  border-bottom: 2px solid var(--light-color);
  color: var(--light-color);
}
