:root {
  --main-color: #110f18;
  --main-color-light: #221834;
  --chat1: #221834;
  --chat2: #221834;
  --text-color: #ffffff;
  --dark-bg: #1d1626;
  --light-color: #7a4bd8;
  --light-blue: #48a2f4;
  --light-red: #e76060;
  scrollbar-color: transparent !important;
  scrollbar-width: thin !important;
}
